<div class='container-fluid'>
    <div>
        <app-nav></app-nav>
        <!--To use component nav.componet that to show nav-->
    </div>
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                <app-card></app-card>
                <!--to show info from card-->
              </div>
              <div class="col">
                <app-card2></app-card2>
                  <!--to show info from card2-->
              </div>
              <div class="col">
                <app-card3></app-card3>
                  <!--to show info from card3-->
              </div>
              
            </div>
          </div>
</div>